body{
	background-color: linen;
}

h1,h2,h3{
	color: purple;
}

#content video{
	width: 400px;
	height:400px;
	float: auto;
}

.para1{
	font-family: times;
	color: darkblue;
	text-align: center;
}

.para2{
	font-family: times;
	color: brown;
}